html {
    font-size: 100%;
}

.title_panel {
    width: 100%;
}

.main_title {
    font-size: 2rem;
    line-height: 1rem;
}

.sub_title {
    font-size: 1.5rem;
    line-height: 1rem;
}

.hz_center {
    text-align: center;
}