html {
    font-size: 100%;
    width: 1280px;
}

.title_panel {
    width: 100%;
    margin: 1rem 0;
}

.intro_panel {
    width: 100%;
    margin: 1rem 10rem;
}

.main_title {
    font-size: 2rem;
    line-height: 1rem;
}

.sub_title {
    font-size: 0.75rem;
    line-height: 0.25rem;
    font-style: italic;
}

.hz_center {
    text-align: center;
}